@model admin.Models.company_info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>company_info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ceo_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ceo_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comapny_location_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comapny_location_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facebook_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facebook_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instagram_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instagram_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.twitter_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.twitter_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.linkedin_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linkedin_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.youtube_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.youtube_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comapny_video_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comapny_video_link)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
