@model IEnumerable<admin.Models.company_info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ceo_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comapny_location_link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.facebook_link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instagram_link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.twitter_link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.linkedin_link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.youtube_link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comapny_video_link)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ceo_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comapny_location_link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.facebook_link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instagram_link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.twitter_link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linkedin_link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.youtube_link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comapny_video_link)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
